floodlight.modules=\
net.floodlightcontroller.core.internal.FloodlightProvider,\
net.floodlightcontroller.threadpool.ThreadPool,\
net.floodlightcontroller.perfmon.PktInProcessingTime,\
net.floodlightcontroller.debugevent.DebugEventService,\
net.floodlightcontroller.restserver.RestApiServer,\
net.floodlightcontroller.linkdiscovery.internal.LinkDiscoveryManager,\
net.floodlightcontroller.devicemanager.internal.DefaultEntityClassifier,\
net.floodlightcontroller.devicemanager.internal.DeviceManagerImpl,\
net.floodlightcontroller.ui.web.StaticWebRoutable,\
net.floodlightcontroller.uds.flow.FlowModule,\
net.floodlightcontroller.uds.multicast.MulticastModule,\
net.floodlightcontroller.uds.packetinspection.RTSPInspector,\
net.floodlightcontroller.uds.relaying.RelayModule,\
net.floodlightcontroller.uds.routing.RoutingModule,\
net.floodlightcontroller.uds.routing.algorithms.DijkstraSSSPAlgorithm,\
net.floodlightcontroller.uds.statistics.OfStatistics,\
net.floodlightcontroller.uds.statistics.OfDelayManagerService,\
net.floodlightcontroller.uds.restlog.RestLogModule
net.floodlightcontroller.core.internal.FloodlightProvider.role=ACTIVE
net.floodlightcontroller.uds.flow.FlowModule.hardTimeout=0
net.floodlightcontroller.uds.statistics.OfStatistics.requestInterval=5
net.floodlightcontroller.uds.statistics.OfStatistics.initialDelay=10
net.floodlightcontroller.uds.statistics.OfStatistics.historysize=10
net.floodlightcontroller.uds.statistics.OfDelayManagerService.delay=5
net.floodlightcontroller.uds.statistics.OfDelayManagerService.etherType=0x0F05
net.floodlightcontroller.uds.statistics.OfDelayManagerService.ipaddr=10.5.1.0
net.floodlightcontroller.uds.relaying.RelayModule.udpRelays=10.11.2.250::22222::50:af:73:19:0d:8b::00:00:00:00:bb:bb:00:02::1::*::*
